<template>
  <div class="container">
    <div :style="style">
      <span class="label" :style="`color:${labelColor}`">{{ text }}</span>
    </div>
  </div>
</template>

<script setup>
import { defineProps, computed } from "vue";

const props = defineProps(["color", "percentage", "text", "labelColor"]);
const style = computed(() => {
  return {
    height: "100%",
    width: `${props.percentage}%`,
    backgroundColor: props.color,
    transition: "width 1s ease-in-out",
    borderRadius: "inherit",
    textAlign: "right",
  };
});
</script>

<style scoped>
.container {
  height: 20px;
  width: 100%;
  background-color: #d3d3d3;
  border-radius: 5px;
  position: relative;
}

.label {
  padding: 5px;
  color: #ffffff;
  font-weight: 500;
}
</style>
