<template>
  <div v-if="detailPokemon == null" class="loading-container">
    <div><img src="@/assets/spinner.svg" /></div>
  </div>
  <div
    class="pokemon-item-container"
    @click="(e) => handleClick(e, detailPokemon.name)"
    v-else
  >
    <div class="sprite-container">
      <img
        :src="detailPokemon.sprites.front_default"
        v-if="detailPokemon.sprites.front_default"
      />
      <div class="no-image" v-else>No Image</div>
    </div>

    <h5>Index No. {{ detailPokemon.id }}</h5>
    <div class="pokemon-detail-container">
      <h4>#{{ detailPokemon.id }}</h4>
      <p>
        {{
          detailPokemon.name[0].toUpperCase() + detailPokemon.name.substring(1)
        }}
      </p>
      <div class="pokemon-type-container">
        <pokemon-type
          v-for="type in detailPokemon.types"
          :key="type"
          :types="type.type.name"
        />
      </div>
    </div>
    <div class="pokemon-description">
      {{
        detailPokemon.species.flavor_text_entries
          .find((x) => x.language.name === "en")
          .flavor_text.replace(/(\r\n|\n|\r|\t|\f)/gm, " ")
      }}
    </div>
    <div class="favourite-container favourite-onclick">
      <img
        class="favourite-onclick"
        src="@/assets/favourite.svg"
        v-if="favouriteList.some((x) => x === detailPokemon.name)"
      />
      <img class="favourite-onclick" v-else src="@/assets/unfavourite.svg" />
    </div>
  </div>
</template>

<script setup>
import { defineProps, computed } from "vue";
import { useRouter } from "vue-router";
import { usePokemonDetailStore } from "@/store/pokemonDetailStore.js";
import { useFavouriteStore } from "@/store/favouriteStore.js";
import PokemonType from "./PokemonType.vue";

const props = defineProps(["name"]);

const pokemonDetailStore = usePokemonDetailStore();
const favouriteStore = useFavouriteStore();
const detailPokemon = computed(() =>
  pokemonDetailStore.getPokemonDetail(props.name)
);
const favouriteList = computed(() => favouriteStore.getFavouriteList);
const router = useRouter();
const handleClick = (e, name) => {
  if (!e.target.classList.contains("favourite-onclick")) {
    router.push({ name: "pokemonDetail", params: { name: name } });
  } else {
    favouriteStore.toggleFavourite(name);
  }
};
</script>

<style lang="scss" scoped>
.loading-container {
  transition: ease 0.5s all;
  min-width: 100%;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;

  img {
    height: 50px;
    width: 50px;
  }
}

@media (min-width: 769px) {
  .loading-container {
    height: 340px;
  }

  .pokemon-item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0px;
    width: 100%;
    height: 340px;
    cursor: pointer;
  }

  .pokemon-description {
    text-align: justify;
    padding: 15px;
  }

  .pokemon-detail-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    padding: 0 15px;
  }

  h5 {
    margin: 0 0 0 15px;
    padding: 0;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
    color: lightcoral;
  }

  h4 {
    display: none;
  }

  p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 22px;
  }

  .pokemon-type-container {
    display: flex;
    gap: 10px;
  }

  .favourite-container {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    img {
      height: 30px;
    }
  }
}
.sprite-container {
  height: 96px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d3d3d3;
  margin: 15px;
  border-radius: 20px;

  .no-image {
    font-weight: 500;
  }
}

// mobile
@media (max-width: 768px) {
  .favourite-container {
    align-self: center;
    margin: 0 20px 0 auto;

    img {
      height: 30px;
    }
  }

  .pokemon-description {
    display: none;
  }

  h5 {
    display: none;
  }

  .pokemon-item-container {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
    width: 100%;
    height: auto;
  }

  .sprite-container {
    background: #d3d3d3;
    border-radius: 5px;
    margin: 5px;
    height: 96px;
  }

  .pokemon-detail-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto 0;
    padding-left: 10px;
    gap: 5px;

    h4,
    p {
      margin: 0;
      padding: 0;
    }

    p {
      font-weight: 500;
      font-size: 20px;
    }

    .pokemon-type-container {
      display: flex;
      gap: 10px;
    }
  }
}
</style>
