<template>
  <div class="types-container" :style="background[types.toLowerCase()]">
    {{ types[0].toUpperCase() + types.substring(1) }}
  </div>
</template>

<script setup>
import { defineProps } from "vue";
defineProps(["types"]);

// hardcode background box because hex color not provided by website
const background = {
  normal: "background-color:#a8a878",
  fighting: "background-color:#d56723;color:#ffffff;",
  flying:
    "background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);background-color: #3dc7ef;color:#ffffff",
  poison: "background-color:#b97fc9;color:#ffffff;",
  ground:
    "background:linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);background-color: #f7de3f;color:#ffffff",
  rock: "background-color: #a38c21;",
  bug: "background-color:#a8b820",
  ghost: "background-color:#705898",
  steel: "background-color:#b8b8d0",
  fire: "background-color:#f08030",
  water: "background-color:#6890f0",
  grass: "background-color:#78c850",
  electric: "background-color:#f8d030",
  psychic: "background-color:#f85888",
  ice: "background-color:#98d8d8",
  dragon: "background-color:#7038f8",
  dark: "background-color:#705848",
  fairy: "background-color:#ee99ac",
  unknown: "background-color:#ffffff;color:#000000;border:1px solid #000000",
  shadow: "background-color:#000000lcolor:#ffffff",
};
</script>

<style lang="scss" scoped>
.types-container {
  border-radius: 20px;
  max-width: 110px;
  padding: 3px 10px;
  font-weight: 550;
  color: #ffffff;
}
</style>
