<template>
  <div
    class="sticky"
    v-if="!isMobile"
    @click="() => modalStore.toggleModal('type')"
  >
    Showing Pokemon Types :
    {{
      filterStore.selected
        ? filterStore.selected[0].toUpperCase() +
          filterStore.selected.substring(1)
        : "All (Click here to change)"
    }}
  </div>
  <div class="floating" @click="() => modalStore.toggleModal('type')" v-else>
    <img src="@/assets/filter.svg" />
  </div>
</template>

<script setup>
import { ref, onMounted, onUnmounted } from "vue";
// import { usePokemonStore } from "@/store/pokemonStore";
import { useModalStore } from "@/store/modalStore";
import { useFilterStore } from "@/store/filterStore";

const modalStore = useModalStore();
// const pokemonStore = usePokemonStore();
const filterStore = useFilterStore();
const isMobile = ref(false);

const handleResize = () => {
  isMobile.value = screen.width <= 768;
};

onMounted(() => {
  handleResize();
  window.addEventListener("resize", handleResize);
  filterStore.fetchFilterList();
});

onUnmounted(() => {
  window.removeEventListener("resize", handleResize);
});
</script>

<style lang="scss" scoped>
.floating {
  position: fixed;
  right: 10px;
  bottom: 16px;
  border-radius: 50px;
  height: 55px;
  width: 55px;
  box-shadow: 2px 2px 3px #999;
  background-color: #0c9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;

  img {
    height: 35px;
  }
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 65px;
  background-color: #ffc500;
  color: #3c1321;
  padding: 10px 0;
  z-index: 99;
  font-weight: bold;
  cursor: pointer;
}
</style>
