<template>
  <div class="filter-type-container">
    <h4>Choose a type to filter out pokemon list</h4>
    <div class="grid-container">
      <PokemonType
        style="cursor: pointer"
        v-for="type in localFilterList"
        :key="type"
        :types="type.name"
        @click="() => handleChoose(type.name)"
      />
    </div>
    <div class="reset" @click="handleReset">Reset Filter Types</div>
    <div class="close" @click="closeModal">Close</div>
  </div>
</template>
<script setup>
import { computed } from "vue";
import { useFilterStore } from "@/store/filterStore";
import { useModalStore } from "@/store/modalStore";
import PokemonType from "@/components/Pokedex/PokemonType";

const filterStore = useFilterStore();
const modalStore = useModalStore();
const localFilterList = computed(() => filterStore.filterList);
const handleReset = () => {
  filterStore.resetFilter();
  modalStore.toggleModal("types");
};
const handleChoose = (name) => {
  filterStore.setFilter(name);
  modalStore.toggleModal("types");
};
const closeModal = () => {
  modalStore.toggleModal("types");
};
</script>
<style lang="scss" scoped>
.filter-type-container .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.reset {
  background: #2c3e50;
  border-radius: 5px;
  width: 100%;
  color: #ffffff;
  margin: 10px auto 0 auto;
  padding: 10px 0;
  cursor: pointer;
}
.close {
  background: rgb(238, 153, 172);
  border-radius: 5px;
  width: 100%;
  color: #ffffff;
  margin: 10px auto 0 auto;
  padding: 10px 0;
  cursor: pointer;
}
</style>
