<template>
  <div class="infinite-parent-container">
    <PokemonFilter />
    <div class="infinite-list">
      <slot id="infinite-target"></slot>
      <InfiniteLoading
        target="infinite-target"
        :firstload="true"
        @infinite="loadData"
        ><template #complete>
          <div></div>
        </template>
      </InfiniteLoading>
    </div>
  </div>
</template>

<script setup>
import InfiniteLoading from "v3-infinite-loading";
import "v3-infinite-loading/lib/style.css";
import PokemonFilter from "@/components/Pokedex/PokemonFilter.vue";
import { defineEmits } from "vue";

const emit = defineEmits(["loadMore"]);
const loadData = (state) => {
  emit("loadMore", state);
};
</script>

<style lang="scss" scoped>
.infinite-parent-container {
  position: relative;
}

.infinite-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 15px;
  place-items: center;
  padding: 10px;
  background: #d3d3d3;
}
@media (max-width: 768px) {
  .infinite-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: #d3d3d3;
  }

  .loading-container {
    height: 100px;
  }
}
</style>
