<template>
  <div class="home">
    <infinite-list @loadMore="handleLoadMore">
      <pokemon-item
        v-for="pokemon in pokemonList"
        :key="pokemon"
        :name="pokemon.name"
      />
    </infinite-list>
  </div>
</template>

<script>
export default {
  name: "PokedexView",
};
</script>

<script setup>
import { computed } from "vue";
import { usePokemonStore } from "@/store/pokemonStore.js";
import { useFilterStore } from "@/store/filterStore";
import InfiniteList from "@/views/Pokedex/InfiniteListView.vue";
import PokemonItem from "@/components/Pokedex/PokemonItem.vue";

const pokemonStore = usePokemonStore();
const filterStore = useFilterStore();
const pokemonList = computed(() => pokemonStore.getPokemonList);

const handleLoadMore = (loadMoreState) => {
  if (filterStore.selected) {
    loadMoreState.complete();
    return;
  } else pokemonStore.fetchNextPage(loadMoreState);
};
</script>
