//slide sidebar
.sidebar-enter-active,
.sidebar-leave-active {
  transition: 0.2s ease all;
}

.sidebar-enter-from {
  transform: translateX(-80%);
}
.sidebar-leave-to {
  transform: translateX(-80%);
}

//fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
