<template>
  <div class="favourite-page">
    <TransitionGroup
      class="favourite-list"
      v-if="favouriteList.length > 0"
      name="fade"
      tag="div"
    >
      <PokemonItem
        v-for="pokemon in favouriteList"
        :key="pokemon"
        :name="pokemon"
      />
    </TransitionGroup>
    <transition name="fade">
      <div class="empty-favourite-container" v-if="favouriteList.length == 0">
        Your favourite pokemon list is empty, click on the star icon in pokedex
        to add pokemon to favourite list
      </div>
    </transition>
  </div>
</template>
<script setup>
import { computed } from "vue";
import PokemonItem from "@/components/Pokedex/PokemonItem.vue";
import { useFavouriteStore } from "@/store/favouriteStore.js";
const favouriteList = computed(() => useFavouriteStore().favouriteList);
</script>

<style lang="scss" scoped>
.favourite-page {
}
.empty-favourite-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20%;
}

.favourite-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 15px;
  place-items: center;
  padding: 10px;
  background: #d3d3d3;
  height: 100%;
}

@media (max-width: 768px) {
  .favourite-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: #d3d3d3;
  }

  .loading-container {
    height: 100px;
  }
}
</style>

<style lang="scss" src="@/animations/animation.scss" scoped></style>
