<template>
  <transition name="fade" @enter="navigationStore.toggleSlide()">
    <div class="sidebar-container" v-if="navigationStore.isOpen">
      <div class="dismiss-hitbox" @click="navigationStore.toggleSlide()"></div>
      <transition name="sidebar" @leave="navigationStore.toggleSidebar()">
        <div class="sidebar" v-if="navigationStore.slide">
          <h3 class="navigation-heading">Navigation</h3>
          <ul class="sidebar-nav">
            <li>
              <router-link
                class="nav-link"
                @click="navigationStore.toggleSlide"
                to="/"
              >
                All Pokemon
              </router-link>
            </li>
            <li>
              <router-link
                class="nav-link"
                @click="navigationStore.toggleSlide"
                to="/favourite"
              >
                Favourite Pokemon
              </router-link>
            </li>
          </ul>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script setup>
import { useNavigationStore } from "@/store/navigationStore.js";
const navigationStore = useNavigationStore();
</script>

<style lang="scss" scoped>
.sidebar-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 101;
}

.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  background: white;
  width: 250px;
  z-index: 101;
  background: #ffffff;
}

.dismiss-hitbox {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  height: auto;

  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  li {
    padding: 15px 0;
    width: 100%;
    text-align: left;
  }

  li .nav-link {
    text-decoration: none;
    padding-left: 10px;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
  }

  li:has(.router-link-active),
  li:hover {
    background-color: #f0938f;
    transition: all 0.5s ease;
  }
}

.navigation-heading {
  border-bottom: 0.2px solid lightgrey;
  margin: 0;
  padding: 25px 0;
}
</style>

<style lang="scss" src="@/animations/animation.scss" scoped></style>
