<template>
  <header class="navigation">
    <nav>
      <div class="logo">
        <img src="@/assets/pokeball.png" />
      </div>
      <div class="burger" @click="useNavigationStore().toggleSidebar()">
        <img src="@/assets/burger.svg" />
      </div>
      <ul class="desktop-nav">
        <li><router-link class="nav-link" to="/">All Pokemon</router-link></li>
        <li>
          <router-link class="nav-link" to="/favourite"
            >Favourite Pokemon</router-link
          >
        </li>
        <transition name="fade">
          <li v-if="route.name === 'pokemonDetail'">
            <router-link class="nav-link" to="#"
              >Current Pokemon : {{ labelNav }}</router-link
            >
          </li>
        </transition>
      </ul>
      <transition name="fade">
        <div v-if="isMobile" class="label-location">{{ pageName }}</div>
      </transition>
    </nav>
  </header>
</template>

<script setup>
import { computed, onMounted, onUnmounted, ref } from "vue";
import { useNavigationStore } from "@/store/navigationStore.js";
import { useRoute } from "vue-router";
import { useFilterStore } from "@/store/filterStore.js";

const filterStore = useFilterStore();
const pageName = computed(() => {
  switch (route.name) {
    case "pokemonDetail":
      return (
        route.params.name[0].toUpperCase() + route.params.name.substring(1)
      );
    case "pokedex":
      if (!filterStore.selected) return "Pokedex";
      else
        return (
          filterStore.selected[0].toUpperCase() +
          filterStore.selected.substring(1) +
          " Pokemon"
        );
    case "favourite":
      return "Favourite Pokemon";
    default:
      return "";
  }
});
const isMobile = ref(false);
onMounted(() => {
  handleResize();
  window.addEventListener("resize", handleResize);
});

onUnmounted(() => {
  window.removeEventListener("resize", handleResize);
});

const handleResize = () => {
  isMobile.value = screen.width <= 768;
};

const route = useRoute();
const labelNav = computed(() => {
  return route.params
    ? route.params.name[0].toUpperCase() + route.params.name.substring(1)
    : "";
});
</script>

<style lang="scss">
.navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  background-color: #ff6961;
  color: #ffffff;
}

nav {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  padding: 5px 0;
  align-items: center;
}

.desktop-nav {
  // hide when mobile
  @media (max-width: 768px) {
    display: none !important;
  }

  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  li .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  li .router-link-active {
    color: #000000;
    background: #ffffff;
    transition: all 0.5s ease;
  }
}

.label-location {
  font-weight: 500;
  font-size: 22px;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  transition: ease 0.5s all;
}

.logo {
  display: flex;
  align-content: center;
  align-items: center;

  @media (max-width: 768px) {
    order: 1;
    margin-left: auto;
  }

  img {
    height: 55px;
  }
}

.burger {
  display: flex;
  align-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 30px;
  }

  @media (min-width: 768px) {
    display: none !important;
  }
}
</style>

<style lang="scss" src="@/animations/animation.scss" scoped></style>
