<template>
  <transition name="fade">
    <div
      class="modal-mask"
      @click="handleDismiss"
      v-if="modalStore.showModal"
      @close="() => modalStore.toggleModal(FilterView)"
    >
      <div class="modal-wrapper">
        <div class="modal-container">
          <FilterView v-if="modalType === 'type'" />
        </div>
      </div>
    </div>
  </transition>
</template>
<script setup>
import { computed } from "vue";
import { useModalStore } from "@/store/modalStore.js";
import FilterView from "@/views/Pokedex/FilterTypeView.vue";

const modalStore = useModalStore();
const modalType = computed(() => modalStore.modalType);
</script>
<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
</style>

<style lang="scss" src="@/animations/animation.scss" scoped></style>
