<template>
  <div class="pokemon-detail-page" v-if="pokemonDetail">
    <PokemonImage :sprites="pokemonDetail.sprites" />
    <PokemonBasicInfo :pokemon="pokemonDetail" />
    <PokemonStats :pokemon="pokemonDetail" />
    <PokemonMisc :pokemon="pokemonDetail" />
  </div>
</template>

<script setup>
import { computed, onMounted } from "vue";
import { useRoute } from "vue-router";
import { usePokemonDetailStore } from "@/store/pokemonDetailStore.js";
import PokemonImage from "./PokemonImage.vue";
import PokemonBasicInfo from "./PokemonBasicInfo.vue";
import PokemonStats from "./PokemonStats.vue";
import PokemonMisc from "./PokemonMisc.vue";

const route = useRoute();
const pokemonDetailStore = usePokemonDetailStore();
const pokemonDetail = computed(() =>
  pokemonDetailStore.getPokemonDetail(route.params.name)
);
onMounted(() => {
  pokemonDetailStore.fetchPokemonDetail(route.params.name);
});
</script>

<style lang="scss" scoped>
.pokemon-detail-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
  gap: 15px;
  padding: 20px;
}
</style>
