<template>
  <div class="basic-info-container">
    <h1>
      {{ pokemon.name[0].toUpperCase() + pokemon.name.substring(1) }}
    </h1>
    <p>
      {{ pokemon.species.genera.find((x) => x.language.name === "en").genus }}
    </p>
    <div class="type-container">
      <PokemonType
        v-for="type in pokemon.types"
        :key="type"
        :types="type.type.name"
      />
    </div>
    <p style="font-weight: bold">Pokedex Entry No : {{ pokemon.id }}</p>
    <p>
      Height: {{ pokemon.height / 100 }} Meters, Weight:
      {{ pokemon.weight / 10 }} Kg
    </p>
    <h4>Description</h4>
    <p style="text-align: left">
      {{
        pokemon.species.flavor_text_entries
          .find((x) => x.language.name === "en")
          .flavor_text.replace(/(\r\n|\n|\r|\t|\f)/gm, " ")
      }}
    </p>
    <div
      class="ability-container"
      v-for="ability in pokemon.abilities"
      :key="ability"
    >
      <h4>{{ ability.is_hidden ? "Hidden " : "" }} Ability</h4>
      <p>{{ ability.ability.name }}</p>
    </div>
  </div>
</template>

<script setup>
import { defineProps } from "vue";
import PokemonType from "@/components/Pokedex/PokemonType.vue";

defineProps(["pokemon"]);
</script>

<style lang="scss" scoped>
.basic-info-container {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ability-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.type-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
}

p {
  margin: 5px 0;
}

h4 {
  margin-bottom: 0;
}
</style>
