<template>
  <div class="image-container">
    <h2>{{ selectedImageType }}</h2>
    <div class="main-image"><img :src="selectedImage" /></div>
    <div class="image-selector">
      <img
        @click="(e) => handleSelectImage(sprites.front_default)"
        :src="sprites.front_default"
        :class="{ active: sprites.front_default === selectedImage }"
      />
      <img
        @click="(e) => handleSelectImage(sprites.back_default)"
        :src="sprites.back_default"
        :class="{ active: sprites.back_default === selectedImage }"
      />
      <img
        @click="(e) => handleSelectImage(sprites.front_shiny)"
        :src="sprites.front_shiny"
        :class="{ active: sprites.front_shiny === selectedImage }"
      />
      <img
        @click="(e) => handleSelectImage(sprites.back_shiny)"
        :src="sprites.back_shiny"
        :class="{ active: sprites.back_shiny === selectedImage }"
      />
    </div>
  </div>
</template>

<script setup>
import { defineProps, ref, computed } from "vue";

const props = defineProps(["sprites"]);
const selectedImage = ref(props.sprites.front_default);
const selectedImageType = computed(() => {
  if (selectedImage.value === props.sprites.front_default) return "Front View";
  else if (selectedImage.value === props.sprites.back_default)
    return "Back View";
  else if (selectedImage.value === props.sprites.front_shiny)
    return "Front Shiny";
  else return "Back Shiny";
});

const handleSelectImage = (x) => {
  selectedImage.value = x;
};
</script>

<style lang="scss" scoped>
h2 {
  margin: 0 0 10px 0;
  align-self: flex-start;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.main-image {
  background-color: #d3d3d3;
  border-radius: 5px;
  width: 100%;
  height: 300px;

  img {
    object-fit: contain;
    height: 300px;
  }
}

.image-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 10px;

  img {
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    cursor: pointer;
  }
  img.active {
    background-color: #d3d3d3;
  }
}
</style>
