<template>
  <div class="misc-info">
    <h4>Miscellaneous Info</h4>

    <p class="bold">Growth Rate</p>
    <p>
      {{
        pokemon.species.growth_rate.name[0].toUpperCase() +
        pokemon.species.growth_rate.name.substring(1)
      }}
    </p>
    <div class="single-stat">
      <p>Capture Rate</p>
      <PokemonStatsBar
        labelColor="white"
        color="purple"
        :text="`${Math.floor((pokemon.species.capture_rate / 255) * 100)}% `"
        :percentage="(pokemon.species.capture_rate / 255) * 100"
      />
    </div>
    <p class="bold">Held Items</p>
    <p v-if="pokemon.held_items.length == 0">None</p>
    <ul v-else v-for="item in pokemon.held_items" :key="item">
      <li>
        {{ item.item.name }}
      </li>
    </ul>
  </div>
</template>

<script setup>
import { defineProps } from "vue";
import PokemonStatsBar from "@/components/Pokedex/PokemonStatsBar.vue";

defineProps(["pokemon"]);
</script>
<style lang="scss" scoped>
.misc-info {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

h4 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 24px;
}
.bold {
  font-weight: bold;
}

p {
  margin: 5px 0;
}

.single-stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 5px 0;
  gap: 10px;

  p {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}
</style>
