<template>
  <div class="pokemon-stats">
    <h4>Base Stats</h4>
    <div class="single-stat">
      <p>HP</p>
      <PokemonStatsBar
        labelColor="white"
        color="green"
        :text="baseStat.hp"
        :percentage="baseStat.hp > 150 ? 100 : (baseStat.hp / 150) * 100"
      />
    </div>
    <div class="single-stat">
      <p>Attack</p>
      <PokemonStatsBar
        labelColor="white"
        color="red"
        :text="baseStat.attack"
        :percentage="
          baseStat.attack > 150 ? 100 : (baseStat.attack / 150) * 100
        "
      />
    </div>
    <div class="single-stat">
      <p>Defense</p>
      <PokemonStatsBar
        labelColor="white"
        color="blue"
        :text="baseStat.defense"
        :percentage="
          baseStat.defense > 150 ? 100 : (baseStat.defense / 150) * 100
        "
      />
    </div>
    <div class="single-stat">
      <p>Special Attack</p>
      <PokemonStatsBar
        labelColor="white"
        color="orange"
        :text="baseStat.specialAttack"
        :percentage="
          baseStat.specialAttack > 150
            ? 100
            : (baseStat.specialAttack / 150) * 100
        "
      />
    </div>

    <div class="single-stat">
      <p>Special Defense</p>
      <PokemonStatsBar
        labelColor="white"
        color="lightskyblue"
        :text="baseStat.specialDefense"
        :percentage="
          baseStat.specialDefense > 150
            ? 100
            : (baseStat.specialDefense / 150) * 100
        "
      />
    </div>
    <div class="single-stat">
      <p>Speed</p>
      <PokemonStatsBar
        labelColor="black"
        color="yellow"
        :text="baseStat.speed"
        :percentage="baseStat.speed > 150 ? 100 : (baseStat.speed / 150) * 100"
      />
    </div>
    <div class="single-stat">
      <p>Overall Stats</p>
      <PokemonStatsBar
        labelColor="white"
        color="purple"
        :text="totalStats"
        :percentage="(totalStats / 720) * 100"
      />
    </div>
  </div>
</template>

<script setup>
import { defineProps, ref, computed } from "vue";
import PokemonStatsBar from "@/components/Pokedex/PokemonStatsBar.vue";

const props = defineProps(["pokemon"]);

const baseStat = ref({
  hp: props.pokemon.stats.find((x) => x.stat.name === "hp").base_stat,
  attack: props.pokemon.stats.find((x) => x.stat.name === "attack").base_stat,
  defense: props.pokemon.stats.find((x) => x.stat.name === "defense").base_stat,
  specialAttack: props.pokemon.stats.find(
    (x) => x.stat.name === "special-attack"
  ).base_stat,
  specialDefense: props.pokemon.stats.find(
    (x) => x.stat.name === "special-defense"
  ).base_stat,
  speed: props.pokemon.stats.find((x) => x.stat.name === "speed").base_stat,
});
const totalStats = computed(() => {
  var total = 0;
  props.pokemon.stats.forEach((x) => {
    total += x.base_stat;
  });
  return total;
});
</script>

<style lang="scss" scoped>
.pokemon-stats {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  align-items: flex-start;
}

h4 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 24px;
}

.single-stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 5px 0;

  p {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}
</style>
