<template>
  <Toolbar />
  <Sidebar />
  <PopupModal />
  <router-view v-slot="{ Component }">
    <transition name="fade" mode="out-in">
      <component class="content" :is="Component" id="page-container" />
    </transition>
  </router-view>
</template>

<script setup>
import Toolbar from "./components/Navigation/ToolbarNavigation.vue";
import Sidebar from "./components/Navigation/SidebarNavigation.vue";
import PopupModal from "./components/Modal/PopupModal.vue";
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#page-container {
  margin-top: 65px;
}

body {
  margin: 0;
  background: #d3d3d3 !important;
}
</style>
<style lang="scss" src="@/animations/animation.scss" scoped></style>
